<div class="header" ng-controller="HeaderController">
	<div class="container">
		<!-- Logo -->
		<a class="logo" href="index.html"> <img
			src="assets/img/logo1-default.png" alt="Logo">
		</a>
		<!-- End Logo -->

		<!-- Topbar -->
		<div class="topbar">
			<ul class="loginbar pull-right">
				<li class="hoverSelector"><i class="fa fa-globe"></i> <a>Languages</a>
					<ul class="languages hoverSelectorBlock">
						<li class="active"><a href="#">English <i
								class="fa fa-check"></i></a></li>
						<li><a href="#">Spanish</a></li>
						<li><a href="#">Russian</a></li>
						<li><a href="#">German</a></li>
					</ul></li>
				<li class="topbar-devider"></li>
				<li><a href="page_faq.html">Help</a></li>
				<li class="topbar-devider"></li>
				<li><a ng-click="doLogout()">Logout</a></li>
			</ul>
		</div>
		<!-- End Topbar -->

		<!-- Toggle get grouped for better mobile display -->
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-responsive-collapse">
			<span class="sr-only">Toggle navigation</span> <span
				class="fa fa-bars"></span>
		</button>
		<!-- End Toggle -->
	</div>
	<!--/end container-->

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div
		class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
		<div class="container">
			<ul class="nav navbar-nav">
				<!-- Home -->

				<!-- End Home -->

				<!-- Pages -->
				<li class="dropdown"><a href="javascript:void(0);"
					class="dropdown-toggle" data-toggle="dropdown">Logged in as
						Vaibhav</a>
					<ul class="dropdown-menu">
						<li class="dropdown-submenu"><a href="javascript:void(0);">Settings</a>
							<ul class="dropdown-menu">
								<li><a ui-sref="app.main.adminProfile">Profile</a></li>

							</ul></li>
					</ul></li>
			</ul>
		</div>
		<!--/end container-->
	</div>
	<!--/navbar-collapse-->
</div>