<div class="wrapper">
    <!--header-->
    <div ng-include="'assets/views/header.html'"></div>
    <!--/header-->
    <!--breadcrumps-->
    <div ng-include="'assets/views/breadcrumps.html'"></div>
    <!--/breadcrumps-->
    <div class="container content">
        <div ui-view></div>
    </div>
   <!--  <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 1078px; width: 1905px; z-index: -999998; position: absolute;">
        <img src="assets/img/bg/5.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1905px; height: 1271.98px; max-width: none; z-index: -999999; left: 0px; top: -96.9922px;">
    </div> -->

    <div ng-include="'assets/views/footer.html'"></div>

</div>